// Spacer

//Padding

//Margin

.spacer {
  padding: 3rem;
}
.spacer_m {
  padding: 2rem;
}
.spacer_s {
  padding: 1.3rem;
}

.bod {
  border: 1px solid red;
}

.base_input {
  font-size: 2rem;
}

.base_input::placeholder {
  font-size: 1.5rem;
}

// Btns
.brown_btn {
  background-color: $dbrown;
  color: #fff;
  font-size: 1.9rem;
}

.yellow_btn {
  background-color: $dyellow;
  color: #fff;
  font-size: 1.9rem;
}

//  All Ancors
.nodecoration {
  text-decoration: none !important;
  color: $fontblack !important;
}

.nodecoration:hover {
  text-decoration: none !important;
  color: $fontblack !important;
}
