$dbrown: #d44444;
$dyellow: #f6a23f;
$dgreen: #6bbe64;
$fontblack: #2f2f2f;
$bborder: #bbbbbb;

// Font Heading Color
$hcolor: #3a3838;
$pcolor: #504c4c;
$backgrey: #fafafa;

//lables
$lightlable: rgb(87, 87, 87);
