.client_dashboard {
  padding: 1rem;

  li {
    list-style-type: none;
    padding: 1rem 0.2rem;
    border-bottom: 1px solid #eee;

    a {
      text-decoration: none;
      color: $dbrown;
    }
  }
}

.my_dogs_available {
  color: rgb(27, 94, 19);
}

.my_dogs_adopted {
  color: $dbrown;
}

.my_dogs_edit {
  color: $dbrown;
  font-size: 1.6rem;
  // border: 1px solid red;
}

.preview {
  height: 8rem;
  background-color: rgb(255, 255, 255);
  border: 1px dashed #eee;
  font-size: 1.6rem;
}

.choose{
  width: 10rem;
  font-size: 1.2rem;
}
