.fc_underline {
  border-bottom: 4px solid $dbrown;
  padding-bottom: 1rem;
  font-weight: 600;
}

.fc_options_h1 {
  color: $dbrown;
}

.fc_banner {
  background-color: $dyellow;
}

.fc_banner_color {
  color: #fff;
}

.writetous {
  border: 1px dashed rgb(214, 214, 214);
  border-radius: 5px;
}
